
body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.image-aside{
    display: none;
    
}


section header{
    padding-top: 20px;
    padding-left: 20px;
}

section header img{
    width: 20px;
}

.form-login{
    display: flex;
    flex-direction: column;
	justify-content: right;

}

.form-login form{
    margin: 30px;
    display: flex;
    flex-direction: column;
	justify-content: right;
	align-items: right;
	align-content: right;
}

form .title{
    font-weight: 500;
    font-size: 40px;
}

a{
    margin-left: 30px;
    font-size: 16px;
}

input[type="submit"]{
    width: 133px;
    height: 55px;
    border-radius: 100px;
    color: var(--white-color);
}

@media (min-width: 550px){
 
    main{
        display: flex;
    }

    .image-aside{
        display: block;    
        width: 60vw;
        height: 100vh;
    }
    
    .content{
        width: 40vw;
    }

    .content header {
        background-color: var(--white-color);
    }

    section header img{
        width: 35px;
    }
}