main{
    display: flex;
    /* position: relative; */
    /* flex-direction: row; */
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    /* position: absolute; */
    flex:2;
    /* width: 62vw; */
    height: 100vh;
    left: 0px;
    top: 0px;
    /* background-color: var(--secondary-color); */
    align-items: center;
}
#register{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* justify-content: center; */
    flex:1;
    min-width: 500px;
    /* width: 38vw; */
    height: 100vh;
    /* right: 0px;
    top: 0px; */
}
#form{
    width:70%;
    font-style: normal;
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    align-self: center; 
}
/* #h1{
    font-weight: 500;
    font-size: 40px;
} */
.welcome{
    width: 100%;
    /* position: absolute; */
}
.icone{
    width: 30px;
    margin-left: 40px;
    margin-top: 40px;
    /* position: absolute; */
    /* left: 40px;
    top: 40px; */
    fill: var(--primary-color);
}
form{
    width:100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center; 
}
#name,#phone,#password{
    width: 100%;
    /* font-size: 0.8em;*/
}
.part{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;    
}
#mail, #street{
    width: 60%;
    margin-right: 5px;
    /* font-size: 0.8em; */
}
#cep, #number{
    width: 40%;
    /* font-size: 0.8em; */
}
#link{
    height:50px;
}

@media (max-width: 1024px) and (min-width: 601px){
    /* .part{
        flex-wrap: wrap;    
    }
    #cep, #number, #mail, #street{
        width: 100%;
        margin-right: 0px;
    }
    #h1{
        padding-top:50%;
        font-size: 2.8em;
    }
    .icone{
        display: flex;
        position: absolute;
        left: 30px;
        top: 30px;
    } */
}
@media (max-width:600px) {
    main{
        flex-direction: column;
    }
    header {
        flex: none;
        min-width: 400px;
        /* width: 100%; */
        height: 64px;
    }
    .welcome{
        display:none;
    }
    #register{
        flex: none;
        min-width: 400px;
        max-width: 500px;
        /* width: 100%; */
        /* height: 80vh; */
        /* position:relative; */
    }
    .icone{
        position:absolute;
        width:20px;
        margin-left: 0px;
        margin-top: 0px;
        top: 13px;
        left: 20px;
    }
    #form{
        width:90%;
        top: 64px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}