body{
    overflow: hidden;
}
main{
    display: flex;
    width: 100%;
}
header{
    display: flex;
    flex:2;
    height: 100vh;
    margin-left: 0px;
    margin-top: 0px;
    align-items: center;
}
#register{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 500px;
    height: 100vh;
}
#form{
    width:70%;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    align-self: center; 
}
.welcome{
    width: 100%;
}
.icone{
    width: 30px;
    margin-left: 40px;
    margin-top: 40px;
    /* fill: var(--primary-color); */
}
form{
    width:100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center; 
}
#name,#phone,#password{
    width: 100%;
}
.part{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;    
}
#mail, #street{
    width: 60%;
    margin-right: 5px;
}
#cep, #number{
    width: 40%;
}
#link{
    height:50px;
}

@media (max-width: 1024px) and (min-width: 601px){
    /* .part{
        flex-wrap: wrap;    
    }
    #cep, #number, #mail, #street{
        width: 100%;
        margin-right: 0px;
    }
    #h1{
        padding-top:50%;
        font-size: 2.8em;
    }
    .icone{
        display: flex;
        position: absolute;
        left: 30px;
        top: 30px;
    } */
}
@media (max-width:600px) {
    main{
        flex-direction: column;
    }
    header {
        flex: none;
        min-width: 400px;
        height: 64px;
    }
    .welcome{
        display:none;
    }
    #register{
        flex: none;
        min-width: 400px;
        max-width: 500px;
    }
    .icone{
        position:absolute;
        width:20px;
        margin-left: 0px;
        margin-top: 0px;
        top: 13px;
        left: 20px;
    }
    #form{
        width:90%;
        top: 64px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}